* {
    box-sizing: border-box
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: rgb(61, 61, 61);
    background: #F6F6F6;
  }

  body{
    margin: 0 auto;
  }
  
  #root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background: white;
    margin: 0;
    font-size: 1.5rem;
    color: rgb(32, 32, 32);
  }

  h2{
    text-align: center;
  }

  .title{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .title h1{
    margin: 0 auto;
    padding: 0;
    font-size: 2.8rem;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 368px;
    height: 245px;
  }

  p {
    padding: 0 1rem 1rem;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    padding-bottom: 1rem;
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }